
.playfair-display {
  font-family: "Playfair Display", serif;
}

html{
    height: 100%;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*, 
*::after, 
*::before{
    box-sizing: inherit;
}

li{
    list-style-type: none;
}

button{
    padding: 0;
    border: none;
    background-color: transparent;
}

a{
    color: inherit;
    text-decoration: none;
}

.main{
    flex-grow: 1;
}

body{
    font-family: "Lora", serif;
    height: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
}



.wrapper_my{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.container{
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}

.header{
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 9;
    margin-bottom: 30px;
}

.header__inner{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    text-transform: uppercase;
    font-weight: 500;
}
.menu__items{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.menu_btn{
    display: none;
    width: 40px;
    height: 20px;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.menu_btn span{
    background-color: #000;
    height: 2px;
    width: 100%;
}

.menu_close{
    display: none;
}

.menu__link {
    position: relative;
  }
  .menu__link::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: -3px;
    display: block;
    width: 100%;
    height: 2px;
    background: #000;
  }

  .menu__link::after {
    width: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.5s;
  }
  .menu__link:hover:after {
    width: 100%;
  }


.contacts__img-phone{
    min-width: 18px;
    min-height: 18px;
}

.header__contacts{
    padding-top: 15px;
}

.swiper{
    margin-bottom: 50px;
}

.top__slide{
    min-height: 700px;
    max-width: 1200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.top__slide-inner{
    font-family: "Playfair Display", serif;
    font-size: 36px;
    color: white;
    text-align: center;
    padding-top: 250px;
}

.top__blockquote{
    font-weight: 600;
}

 .top__title{
    font-size: 60px;
    font-style: italic;
 }
 .arrow__slider{
    max-width: 40px;
    max-height: 40px;
 }
 .swiper-button-next::after, 
 .swiper-button-prev::after{
    content: none;
 }
 .swiper-button-prev{
    left: 100px
 }

 .swiper-button-next{
    right: 100px;
 }

.section__title{
    text-transform: uppercase;
    margin-bottom: 50px;
    font-size: 40px;
    font-family: "Playfair Display", serif;
    text-align: center;
}

.popular__dishes-inner{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.popular__dishes-item{
    position: relative;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.dishes__img{
    margin: 0 auto;
    max-width: 270px;
    max-height: 270px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    margin-bottom: 10px;
    border-radius: 5%;
}
.dishes__name{
    padding: 0 10px;
    font-weight: 400;
    font-size: 20px;
}
.ingridient{
    justify-content: left;
    margin-bottom: 10px;
    padding: 0px 15px;
    font-weight: 500;
}

.weight{
    justify-content: left;
    padding: 5px;
    font-size: 18px;
}

.dishes__price{
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
}

.main_basket{
    text-align: center;
    font-size: 24px;
    margin-bottom: 5px;
}

.basket{
    border: none;
    border-top: 1px solid black;
    display: block;
    width: 100%;
    font-size: 20px;
    margin: 0 auto;
    padding: 20px;
    background-color: transparent;
    cursor: pointer;
    margin-top: auto;
    transition: 0.3s ease;
}
.basket:hover {
    background-color: #0d1117;
    color: #f2f2f2;
}

.basket_btn{
    border: none;
    border-bottom: 1px solid black;
    padding: 15px;
}

.popular__dishes{
    margin-bottom: 50px;
}

.accordeon__item{
    border-bottom: 2px solid black;
}

.accordeon__item--active .accordeon__content{
    display: block;
}

.accordeon__img{
    max-width: 40px;
    max-height: 40px;
}

.accordeon__inner{
    padding: 0 100px;
}
.accordeon__triger{
    padding-top: 50px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.accordeon__triger-title{
    font-size: 30px;
    font-weight: 400;
}

.accordeon__content{
    margin: 0  auto;
    max-width: 600px;
    font-size: 20px;
    padding-top: 20px;
    text-align: center;
    margin-bottom: 10px;
    display: none;
}

.action__accordeon{
    margin-bottom: 100px;
}

.about__hello{
    text-align: center;
    font-size: 30px;
    margin-bottom: 25px;
}

.about__inner{
    padding: 0 200px;
}

.about__item{
    display: flex;
    gap: 30px;
    justify-content: space-between;
    margin-bottom: 30px;
}

.about__item:nth-child(even){
    flex-direction: row-reverse;
}


.about__text{
    flex-basis: 600px;
}

.about__number{
    font-size: 70px;
    font-weight: bold;
}

.menu__choice-inner{
    margin-left: 200px;
    margin-bottom: 50px;
}

.menu__choice-nav{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}

.menu__choice-item{
    display: flex;
    min-width: 170px;
    gap:15px;
    cursor: pointer;
}

.menu__choice-item {
    position: relative;
  }
  .menu__choice-item::after {
    position: absolute;
    content: '';
    left: 0;
    bottom: -6px;
    display: block;
    width: 100%;
    height: 2px;
    background: #000;
  }

  .menu__choice-item::after {
    width: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.5s;
  }
  .menu__choice-item:hover:after {
    width: 50%;
  }


.choice_img{
    max-width: 40px;
    max-height: 40px;
}

.choice__text{
    display: flex;
    font-size: 20px;
    align-items: center;
    justify-content: center;
}

.title__choice-menu{
    margin-bottom: 30px;
}

.title__choice-text{
    display: flex;
    justify-content: center;
    font-weight: normal;
    font-size: 28px;
}

.main__menu-inner{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}



.food-section {
    display: none;
}
.food-section.active {
    display: block;
}


#cart-icon {
    position: relative;
    cursor: pointer;
    margin-left: 50px;

}

.menu__basket{
    z-index: -1;
}

.cart-count {
    color: black;
    font-size: 10px;
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: grey;
    border-radius: 50%;
    padding: 5px 7px;
}

.cart-count.nonzero {
    background-color: red;
}


.cart-sidebar {
    position: fixed;
    right: 0;
    top: 0;
    width: 450px;
    height: 100%;
    background-color: white;
    box-shadow: -2px 0 5px rgba(0,0,0,0.5);
    transform: translateX(100%);
    transition: transform 0.5s ease-in-out;
    padding: 20px;
    z-index: 999;
    overflow-y: auto;
}

.cart-sidebar.open {
    transform: translateX(0);
}

.cart-item {
    font-family: "Lora", serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    padding-bottom: 15px;
    border-bottom: 1px solid #0f0f0f;
}

.item-name-price {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

.item-name {
    font-weight: 500;
}

.item-total {
    margin-left: 5px;
    font-weight: 500;
}

.controls-container {
    display: flex;
    align-items: center;
}

.quantity-controls {
    display: flex;
    align-items: center;
}

.quantity-controls button {
    background-color: #fff;;
    border: 1px solid black;
    margin: 0 5px;
    cursor: pointer;
    padding: 1px 6px;
}

.quantity-controls button:hover {
    background-color: #0d1117;
    color: #f2f2f2;
}

.quantity-controls input {
    width: 30px;
    text-align: center;
    border: 0.5px solid black;
}

.remove-item {
    cursor: pointer;
    background: none;
    border: none;
}


.cart-item .remove-item img {
    width: 20px;
    height: 20px;
}

#cart-items {
    max-height: 70%;
    overflow-y: auto;
    margin-bottom: 20px;
}

#cart-total {
    font-weight: bold;
    margin-bottom: 10px;
}

#scrollToTopBtn {
    background-color: #fff;
    display: none;
    position: fixed;
    bottom: 150px;
    left: 50px;
    z-index: 9999;
    outline: none;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 16px;
    text-align: center;
    border: 1px solid;
}

#scrollToTopBtn:hover {
    border: none;
    color: #ffffff;
    background-color: #000000;
}

.footer{
    padding: 25px 0px;
    border-top: 1px solid black;
}

.footer__inner{
    display: flex;
    justify-content: space-between;
}

.logo_inner{
    padding: 15px 20px;
    display: flex;
    gap: 20px;
    max-width: 360px;
}

.footer_title{
    display: flex;
    padding-bottom: 7px;
    font-size: 18px;
    align-items: center;
    justify-content: center;
}

.social_item{
    display: flex;
    gap: 30px;
    
}
.social__link{
    padding-top: 28px;
}

.created_by{
    text-align: center;
    padding-top: 10px;
}

.phone__img-footer{
    padding-top: 10px;
}

.main__menu{
    margin-bottom: 70px;
}

.element-animation {

    opacity: 0;
    transform: translateY(10px);
  }
  
  .element-animation.element-show {
    opacity: 1;
    transition: all 0.6s;
    transform: translateY(0%);
  }


  @media (max-width: 1560px) {
    .top__slide {
        min-height: 500px;
        max-width: 80%;
        margin: 0 auto;
    }

    .top__slide-inner {
        padding-top: 200px;
        font-size: 28px;
    }

    .top__title {
        font-size: 48px;
    }

    .arrow__slider {
        max-width: 30px;
        max-height: 30px;
    }


    .swiper-button-prev {
        order: 1;
    }

    .swiper-button-next {
        order: 1;
    }
    .swiper-button-prev{
        left: 40px
     }
    
     .swiper-button-next{
        right: 40px;
     }
  }
  @media (max-width: 1560px){
    .cart-sidebar {
        width: 50%;
  }
}


  @media (max-width: 1110px) {

  .menu__choice-nav{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }
  .menu__choice-item{
    width: auto;
  }
  .main__menu-inner{
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .popular__dishes-inner{
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .dishes__img{
    padding-left: 10px;
    padding-right: 10px;
  }

  .dishes__name{
    padding-left: 15px;
    padding-right: 15px;
}

  .logo_inner{
    padding: 15px 10px;
  }
  .footer_title{
    max-width: 200px;
  }
  
  .footer__inner{
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .ingridient,
  .weight{
    font-size: 12px;
  }
  .section__title{
    margin-bottom: 0px;
  }
  .popular__dishes-inner{
    margin-top: 30px;
  }
  .action__accordeon{
    margin-bottom: 50px;
  }
  .about__number{
    font-size: 50px;
  }
  .about__inner{
    padding: 0px 30px;
  }
  
  }










  


  @media (max-width: 850px) {
    .menu__items{
        gap: 20px;
    }
    .accordeon__inner{
        padding: 0 20px;
    }
    .section__title{
        font-size: 30px;
    }
  }
  
  @media (max-width: 800px) {
    .top__slide {
        min-height: 300px;
    }
    .top__slide-inner{
        padding-top: 100px;
        font-size: 24px;
    }
    .cart-sidebar {
        width: 100%;
      }


    .menu__items{
        transform: translateY(-120%);
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        width: 100%;
        /* margin: 0 auto; */
        background-color: #fff;
        display: block;
        text-align: center;
        padding-top: 50px;
        padding-bottom: 50px;
        transition: transform .3s ease;
    }
    .menu__items.menu__items--open{
        transform: translateY(0%);
    }

    .menu_close-btn{
        position: absolute;
        top: 20px;
        right: 20px;
        cursor: pointer;
    }

    .menu_close{
        display: block;
    }

    .menu__item{
        padding-bottom: 30px;
    }

    .menu_btn{
        display: flex;
    }

    .menu{
        order: -1;
    }

    .logo{
        margin-right: auto;
        margin-left: auto;
    }
    .created_by,
    .work_time{
        padding-right: 20px;
    }
    .header__contacts{
        padding-left: 15px;
    }

    .social_item{
        padding-right: 30px;
    }

    #cart-icon{
        margin-left: 30px;
        padding-right: 20px ;
        position: absolute;
        right: 46%;
  }
    .cart-count{
        position: absolute;
        right: 10px;
    }

    .menu__choice-nav{
        grid-template-columns: repeat(2, 1fr);
      }

    .menu__choice-inner{
        margin-left: 100px;
    }
  }
  @media (max-width: 690px){
    .accordeon__triger-title{
        font-size: 24px;
    }
    .accordeon__img{
        max-width: 20px;
        max-height: 20px;
        margin-top: 10px;
    }
    .accordeon__content{
        max-width: 400px;
        font-size: 16px;
        padding-top: 10px;
    }
    .section__title{
        font-size: 24px;
    }
    .about__item{
        display: grid;
        grid-template-columns: 1fr;
        grid-auto-rows: minmax(100px, auto);
        gap: 0;
    }
    .about__text,
    .about__number{
        text-align: center;
    }
    .about__hello{
        font-size: 20px;
    }
    .about__text{
        grid-row: 2;
    }
    
  }









  @media (max-width: 660px){
    .swiper-button-prev{
        left: 20px
     }
    
     .swiper-button-next{
        right: 20px;
     }
}

    @media (max-width: 650px){
    .main__menu-inner{
        grid-template-columns: repeat(1, 1fr);
      }

      .popular__dishes-inner{
        grid-template-columns: repeat(1, 1fr);
      }

      .popular__dishes-item{
        max-width: 400px;
        margin: 0 auto;
      }
      

    }
  

@media (max-width: 600px) {
    .menu__choice-inner{
        margin-left: 50px;
    }
    

}

@media (max-width: 530px) {
    .menu__choice-inner{
        margin-left: 10px;
    }

    .menu__choice-nav{
        display: flex;
        flex-direction: column;
        gap: 10px;
        justify-content: center;
    }
    .work_time{
        padding-top: 20px;
    }
    .top__slide {
        min-height: 200px;
        max-width: 80%;
        margin: 0 auto;
    }

    .top__slide-inner {
        padding-top: 70px;
        font-size: 20px;
    }

    .top__title {
        font-size: 28px;
    }

    .arrow__slider {
        max-width: 20px;
        max-height: 20px;
    }

    .accordeon__triger-title{
        font-size: 16px;
    }
    .accordeon__img{
        margin-top: 0;
    }
    .accordeon__content{
        font-size: 14px;
    }
    .section__title{
        font-size: 20px;
    }
    .accordeon__triger{
        padding-top: 30px;
    }
    #cart-icon{
        right: 43%;
    }
    .item-name,.item-total{
        font-size: 12px;
        font-weight: 500;
    }

}


  @media (max-width: 410px) {
    .contact__phone{
        font-size: 16px;
    }

    #cart-icon{
        margin-left: 30px;
        padding-right: 20px ;
    }
    .top__slide {
        min-height: 150px;
    }

    .top__slide-inner {
        padding-top: 40px;
        font-size: 14px;
    }

    .top__title {
        font-size: 20px;
    }

    .swiper-button-prev{
        left: 10px
     }
    
     .swiper-button-next{
        right: 10px;
     }
     .accordeon__triger-title{
        font-size: 14px;
    }
    .accordeon__content{
        max-width: 250px;
        font-size: 10px;
    }
    .section__title{
        font-size: 16px;
    }
    .action__accordeon,
    .swiper{
        margin-bottom: 30px;
    }
    .about__text{
        font-size: 14px;
    }
    .about__hello{
        font-size: 16px;
    }
    

    
    
    
}

@media (max-width: 390px){
    .footer__inner{
        justify-content: center;
    }
    .header__contacts{
        padding-right: 10px;
    }
    .logo_inner{
        padding-top: 0px;
        padding-bottom: 0px;
    }
}