
.playfair-display {
  font-family: "Playfair Display", serif;
}

html{
    height: 100%;
    box-sizing: border-box;
}

*, 
*::after, 
*::before{
    box-sizing: inherit;
}

li{
    list-style-type: none;
}

a{
    color: inherit;
    text-decoration: none;
}

.main{
    flex-grow: 1;
}

body{
    height: 100%;
    font-family: "Andika", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
}

.wrapper{
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.container{
    max-width: 1220px;
    padding: 0 10px;
    margin: 0 auto;
}

.header{
    position: sticky;
    top: 0;
    background-color: white;
    z-index: 9;
    margin-bottom: 50px;
}

.header__inner{
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 20px;
}
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    text-transform: uppercase;
    gap: 50px;
}

.contacts__img-phone{
    min-width: 18px;
    min-height: 18px;
}

.header__contacts{
    padding-top: 15px;
}

.swiper{
    margin-bottom: 50px;
}

.top__slide{
    min-height: 700px;
    max-width: 1200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}

.top__slide-inner{
    font-family: "Playfair Display", serif;
    font-size: 36px;
    color: white;
    text-align: center;
    padding-top: 250px;
}
 .top__title{
    font-size: 60px;
    font-style: italic;
 }
 .arrow__slider{
    max-width: 40px;
    max-height: 40px;
 }
 .swiper-button-next::after, 
 .swiper-button-prev::after{
    content: none;
 }
 .swiper-button-prev{
    left: 100px
 }

 .swiper-button-next{
    right: 100px;
 }

.section__title{
    text-transform: uppercase;
    margin-bottom: 50px;
    font-size: 40px;
    font-family: "Playfair Display", serif;
    text-align: center;
}

.popular__dishes-inner{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.popular__dishes-item{
    border: 1px solid black;
    text-align: center;
    padding: 20px 0px;
    border-radius: 10%;
}

.dishes__img{
    max-width: 300px;
    max-height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    margin-bottom: 10px;
    border-radius: 10%;
}
.dishes__name{
    font-weight: 400;
    font-size: 24px;
}

.dishes__price{
    font-family: "Playfair Display", serif;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.basket{
    display: block;
    border: 1px solid black;
    padding: 15px;
    max-width: 200px;
    font-size: 20px;
    margin: 0 auto;
    padding: 20px;
    background-color: transparent;
    border-radius: 45%;
    cursor: pointer;
}

.popular__dishes{
    margin-bottom: 50px;
}

.accordeon__item{
    border-bottom: 2px solid black;
}

.accordeon__item--active .accordeon__content{
    display: block;
}

.accordeon__img{
    max-width: 40px;
    max-height: 40px;
}

.accordeon__inner{
    padding: 0 100px;
}
.accordeon__triger{
    padding-top: 50px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.accordeon__triger-title{
    font-size: 30px;
    font-weight: 400;
}

.accordeon__content{
    padding-top: 20px;
    text-align: center;
    margin-bottom: 10px;
    display: none;
}

.action__accordeon{
    margin-bottom: 100px;
}

.about__hello{
    text-align: center;
    font-size: 30px;
    margin-bottom: 25px;
}

.about__inner{
    padding: 0 200px;
}

.about__item{
    display: flex;
    gap: 30px;
    justify-content: space-between;
    margin-bottom: 30px;
}

.about__item:nth-child(even){
    flex-direction: row-reverse;
}


.about__text{
    flex-basis: 600px;
}

.about__number{
    font-size: 70px;
    font-weight: bold;
}
